<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="{{ config.extra.primary_color }}" />
  <link rel="canonical" href="{{ current_url | default(value='/') }}" />

  <title>
    {% if page.title %} {{ page.title }} - {{ config.title }}
    {% elif section.title %} {{ section.title }} - {{ config.title }}
    {% else %} {{ config.title }} {% endif %}
  </title>

  {% set css_hash = get_hash(path='style.css', sha_type=384, base64=true) | safe %}
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}?v={{ css_hash }}">


  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false)
    }}">
  {% endblock %}

  {% if config.extra.animated_favicon %}
  <link rel="icon" type="image/gif" href="{{ get_url(path='favicon.gif') }}" />
  {% else %}
  <link rel="icon" type="image/png" href="{{ get_url(path='favicon.png') }}?v=2" />
  {% endif %}

  <!-- Open Graph -->
  <meta property="og:site_name" content="{{ config.title }}" />
  <meta property="og:title" content="
    {% if page.title %} {{ page.title }} - {{ config.title }}
    {% elif section.title %} {{ section.title }} - {{ config.title }}
    {% else %} {{ config.title }} {% endif %}" />
  <meta property="og:url" content="{{ current_url | default(value='/') }}" />
  <meta property="og:description" content="{{ page.description | default(value=config.description) }}" />
  <meta property="twitter:card" content="summary_large_image" />
</head>